*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.parent{
    width: 100%;
    height: 100%;
    background-color: #83f083;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 50%;
    height: 60%;
    background-color: #076d1f;
    color: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
h1{
    font-size: 4vw;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 10px;
}
.value{
    background-color: #071878;
    font-size: 2vw;
    font-weight: 600;
    padding: 1vh 3vw;
    border-radius: 8px;
    margin-bottom: 25px;
}
button{
    padding: 1.5vh 1.5vw;
    color: #ffffff;
    font-size: 1.5vw;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    margin-bottom: 25px;
    margin-top: 15px;
    cursor:pointer;
}
.btn-container{
    display: flex;
    gap: 25px;
}
#btn-increase,#btn-decrease{
    background-color: #49031c;
}
#btn-reset{
    background-color: #021d02;
    margin-top: 25px;
}