* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color);
    font-family: 'poppins', sans-serif;
}

/* define css variable */
:root {
    --dark-icon-color: #000000;
    --main-background-color: #f5f5f5;
    --container-background-color: #6969c9;
    --btn-background-color: #00dd23;
}

/* dark theme */
.dark-theme {
    --dark-icon-color: #ffffff;
    --main-background-color: #132427;
    --container-background-color: #1a1a24;
}

#dark-icon {
    position: absolute;
    top: 30px;
    right: 50px;
    color: var(--dark-icon-color);
    font-size: 20px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.container {
    padding: 10px 30px 30px 30px;
    width: 90vw;
    max-width: 520px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--container-background-color);
    box-shadow: 0.5px 0.5px 12px #0084ff,
    0.4px 0.4px 1px #da2f2f,
    0.3px 0.3px 2px #a23fc9,
    0.2px 0.2px 3px #2559c9,
    0.1px 0.1px 1px #3f6bbd;
    border-radius: 10px;
}

.container h1 {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    text-align: center;
    font-weight: 300;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #555555;
}

 
#result {
    text-align: center;
    width: 100%;
    padding: 25px;
    margin: 30px 0;
    font-size: 60px;
    color: #fafafa;
    text-shadow: 0 0 25px #ffffff;
    -webkit-text-stroke: 4px #ffffff;
}

#progress {
    font-size: 25px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    z-index: 100;
    height: 100px;
    width: 100px;
    border-left: 2px solid #ffa200;
    border-right: 2px solid #ff00f7;
    border-radius: 50%;
    animation-name: circle;
    animation-duration: 1.5s;
    animation-iteration-count: 2;
    display: none;
}

@keyframes circle {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container button {
    width: 100%;
    padding: 15px 30px;
    background-color: var(--btn-background-color);
    color: #ffffff;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border: 3px solid #42d35a;;
    box-shadow: 1.3px 1.3px #006b12, -1.3px -1.3px #007c15;
}

.container button:hover {
    opacity: 0.7;
}